# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Build / packaging
*.egg-info/
dist/
build/
*.egg

# Jupyter
.ipynb_checkpoints/

# pytest
.pytest_cache/

# env / IDE
.env
.venv/
.vscode/
.idea/

# Generated datasets
*.npz
